.div-container-black {
    font: 18px "Gill Sans MT", Calibri;
    text-align: center;
    width: 350px;
    background: black;
    padding: 10px;
    margin: auto;
    margin-top: 25px;
}
.film-title {
    font: 25px 'Gill Sans MT', Calibri;
    font-weight: bold;
}
.film-desc-title {
    font: 20px 'Gill Sans MT', Calibri;
    font-weight: bold;
}
.film-desc {
    font: 18px 'Gill Sans MT', Calibri;
}